# Swift
.DS_Store
/.build
/Packages
/*.xcodeproj
xcuserdata/
DerivedData/
.swiftpm/
Package.resolved

# Project specific
TodoCLI/.build/
TodoCLI/Package.resolved
TodoApp/.build/
TodoApp/Package.resolved

# Local todo files
~/.todo.json
~/.todo.archive.json

.netrc
todos.html

# HTML exports
*.html
